<section class="header-top-container section-center">
  <!-- start of the logo img and name container -->
  <div class="logo-title-container">
    <div class="logo-container">
      <img src="../../../../assets/img/logo.png" alt="Logo Image " />
    </div>
    <h1 class="title-text">
      <span class="hazira-text"> Hazira </span>/ Shifting
    </h1>
  </div>
  <!-- End  of the logo img and name container -->

  <!-- Start of the top header icon container  -->
  <div class="top-header-icons-container">
    <!-- Start of the single icon  -->
    <div class="top-header-icon">
      <a href="">
        <fa-icon [icon]="faDiscourse" class="raw-icon-top-header"> </fa-icon>
      </a>
    </div>
    <!-- End of the single icon  -->

    <!-- Start of the single icon  -->
    <div class="top-header-icon">
      <a href="">
        <fa-icon [icon]="faGear" class="raw-icon-top-header"> </fa-icon>
      </a>
    </div>
    <!-- End of the single icon  -->
    <!-- Start of the single icon  -->
    <div class="top-header-icon">
      <a href="">en</a>
    </div>
    <!-- End of the single icon  -->
    <!-- Start of the single icon  -->
    <div class="top-header-icon">
      <a href="">
        <a href="">
          <img src="../../../../assets/img/login.png" alt=" Login img" />
        </a>
      </a>
    </div>
    <fa-icon [icon]="faAngleDown" class="login-icon"></fa-icon>
    <!-- End of the single icon  -->
  </div>
  <!-- End of the top header icon container  -->
</section>
