<table>
  <!-- 6:30 am - 9:30 pm
Brenardo Galaviz
(14 hrs 15 mins)
Web Developer
Web Designer
Brenardo Galaviz
Web Developer
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
Brenardo Galaviz Web Developer
6:30 am - 9:30 pm
(14 hrs 15 mins)

Web Designer
Md. Abdullah ajad
Md. taraj Ali
Md. Ashik Uddin Mondol
John Smith
Sahabul Alam
Brenardo Galaviz Web Developer
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
ਨ Branch
Designations
Skills
+
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
Brenardo Galaviz Web Developer
6:30 am - 9:30 pm
(14 hrs 15 mins) Web Designer
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
6:30 am - 9:30 pm
6:30 am - 9:30 pm
(14 hrs 15 mins)
Web Designer
Brenardo Galaviz Web Developer

 -->
  <tr>
    <th>Employees</th>
    <th>Aug 20</th>
    <th>Aug 21</th>
    <th>Aug 22</th>
    <th>Aug 23</th>
    <th>Aug 24</th>
    <th>Aug 25</th>
    <th>Aug 26</th>
  </tr>
  <tr>
    <td class="">
      <div class="td-employee">
        <img src="../../../../assets/img/login.png" alt="" />
        <div class="td-employee-info">
          <p class="td-employee-name">Brenardo Galaviz</p>
          <p class="td-employee-designation">Web Developer</p>
        </div>
      </div>
    </td>
    <td>
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
    <td></td>
    <td class="symbol-text">
      <h1>+</h1>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td class="">
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
  </tr>
  <tr>
    <td class="">
      <div class="td-employee">
        <img src="../../../../assets/img/employee/employeeTwo.png" alt="" />
        <div class="td-employee-info">
          <p class="td-employee-name">Brenardo Galaviz</p>
          <p class="td-employee-designation">Web Designer</p>
        </div>
      </div>
    </td>
    <td>
      <p class="table-text table-second-text">
        6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer
      </p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="">
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
  </tr>
  <tr>
    <td class="">
      <div class="td-employee">
        <img src="../../../../assets/img/employee/employee3.png" alt="" />
        <div class="td-employee-info">
          <p class="td-employee-name">Brenardo Galaviz</p>
          <p class="td-employee-designation">Web Developer</p>
        </div>
      </div>
    </td>
    <td>
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="">
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
  </tr>
  <tr>
    <td class="">
      <div class="td-employee">
        <img src="../../../../assets/img/employee/employee4.png" alt="" />
        <div class="td-employee-info">
          <p class="td-employee-name">Md. Abdullah ajad</p>
          <p class="td-employee-designation">Web Developer</p>
        </div>
      </div>
    </td>
    <td>
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="">
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
  </tr>
  <tr>
    <td class="">
      <div class="td-employee">
        <img src="../../../../assets/img/employee/employee5.png" alt="" />
        <div class="td-employee-info">
          <p class="td-employee-name">Brenardo Galaviz</p>
          <p class="td-employee-designation">Web Developer</p>
        </div>
      </div>
    </td>
    <td>
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="">
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
  </tr>
  <tr>
    <td class="">
      <div class="td-employee">
        <img src="../../../../assets/img/employee/employee6.png" alt="" />
        <div class="td-employee-info">
          <p class="td-employee-name">Brenardo Galaviz</p>
          <p class="td-employee-designation">Web Developer</p>
        </div>
      </div>
    </td>
    <td>
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="">
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
  </tr>
  <tr>
    <td class="">
      <div class="td-employee">
        <img src="../../../../assets/img/employee/employee6.png" alt="" />
        <div class="td-employee-info">
          <p class="td-employee-name">Brenardo Galaviz</p>
          <p class="td-employee-designation">Web Developer</p>
        </div>
      </div>
    </td>
    <td>
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="">
      <p class="table-text">6:30 am - 9:30 pm (14 hrs 15 mins) Web Designer</p>
    </td>
  </tr>
</table>
