.designations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  border-bottom: 2px dotted #1abc9c;
  margin: 1rem 0;
}
.designation-icon {
  color: #1abc9c;
}
.designations label {
  font-size: 1rem;
  font-weight: bold;
}
.designations select {
  border: none;
  display: inline-block;
  padding: 0.2rem 0;
}
.designations select option {
  font-size: 1rem;
  text-align: center;
}
.designations select{
  cursor: pointer;
}
.first-option {
  display: inline-block;
  margin: 0.5rem 0;
}
