<section class="hazira-table">
  <form class="hazira-form">
    <div class="form-wrap">
      <div class="timeline">
        <label> Timeline </label> <br />
        <select name=" timeline ">
          <option value="7 days">Last 7 days</option>
          <option value="15 days">Last 15 days</option>
          <option value=" 30 days">Last 30 days</option>
        </select>
      </div>
      <div class="begin-date">
        <label> Start Date </label> <br />
        <input
          type="date"
          name="begin"
          placeholder="dd-mm-yyyy"
          value=""
          min="1997-01-01"
          max="2023-12-31"
        />
      </div>
      <div class="end-date">
        <label for="cars"> End Date </label> <br />
        <input
          type="date"
          name="begin"
          placeholder="dd-mm-yyyy"
          value=""
          min="1997-01-01"
          max="2023-12-31"
        />
      </div>
      <input type="submit" value=" Apply " class="btn-submit" />
      <input type="reset" value="Reset Filter " class="btn-reset" />
    </div>
    <button type="button" class="btn-export">Export &#x25BC;</button>
  </form>
  <!-- end of the form section  -->
  <div class="table-container">
    <table class="main-table">
      <tr>
        <th class="main-table-head">All Application / Position</th>
        <th class="main-table-head">Dec 15, 2022</th>
        <th class="main-table-head">Dec 16, 2022</th>
        <th class="main-table-head">Dec 17, 2022</th>
        <th class="main-table-head">Dec 18, 2022</th>
        <th class="main-table-head">Dec 19, 2022</th>
        <th class="main-table-head">Dec 20, 2022</th>
      </tr>
      <tr>
        <td>
          <table class="subtable-one">
            <tr>
              <th class="sub-table-head">Name</th>
              <th class="sub-table-head">Total</th>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>13h 0m</td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>13h 0m</td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>13h 0m</td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>13h 0m</td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>13h 0m</td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>13h 0m</td>
            </tr>
          </table>
          <!-- end of sub table one  -->
        </td>
        <!-- main table data one end  -->
        <td>
          <table class="subtable-two">
            <tr>
              <th class="sub-table-head">Start</th>
              <th class="sub-table-head">End</th>
              <th class="sub-table-head">Hours</th>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
          </table>
          <!-- end of sub table two  -->
        </td>
        <!-- main table data two end  -->
        <td>
          <table class="subtable-three">
            <tr>
              <th class="sub-table-head">Start</th>
              <th class="sub-table-head">End</th>
              <th class="sub-table-head">Hours</th>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
          </table>
          <!-- end of sub table three  -->
        </td>
        <!-- main table data three end  -->
        <td>
          <table class="subtable-four">
            <tr>
              <th class="sub-table-head">Start</th>
              <th class="sub-table-head">End</th>
              <th class="sub-table-head">Hours</th>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
           

          </table>
          <!-- end of sub table four -->
        </td>
        <!-- main table data four end  -->
        <td>
          <table class="subtable-five">
            <tr>
              <th class="sub-table-head">Start</th>
              <th class="sub-table-head">End</th>
              <th class="sub-table-head">Hours</th>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
          </table>
          <!-- end of sub table five -->
        </td>
        <!-- main table data four five  -->
        <td>
          <table class="subtable-six">
            <tr>
              <th class="sub-table-head">Start</th>
              <th class="sub-table-head">End</th>
              <th class="sub-table-head">Hours</th>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">8 h</td>
            </tr>
          </table>
          <!-- end of sub table six -->
        </td>
        <!-- main table data four six  -->
        <td>
          <table class="subtable-seven">
            <tr>
              <th class="sub-table-head">Start</th>
              <th class="sub-table-head">End</th>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
            </tr>
            <tr>
              <td class="sub-table-data">9 am</td>
              <td class="sub-table-data">9 am</td>
            </tr>
          </table>
          <!-- end of sub table seven -->
        </td>
        <!-- main table data four seven  -->
      </tr>
      <!-- main table row  -->
    </table>
  </div>
</section>
