<section class="second-sidebar">
  <div class="second-sidebar-item">
    <fa-icon [icon]="faPager"></fa-icon>
    <h4>Schedule</h4>
  </div>
  <div class="time-sheets-container">
    <div class="time-sheets-title">
      <fa-icon [icon]="faClock"></fa-icon>
      <h4>Time Sheets</h4>
    </div>
    <div class="time-sheets-items">
      <h4 class="time-sheet-item">Time Sheets Summary</h4>

      <h4 class="time-sheet-item">Time Sheets Attendance</h4>
    </div>
  </div>

  <div class="second-sidebar-item">
    <fa-icon [icon]="faUser"></fa-icon>
    <h4>Employee</h4>
  </div>
</section>
