<section class="second-page-header">
  <div class="section-center header-top-container">
    <!-- start of the logo img and name container -->
    <div class="logo-title-container">
      <div class="logo-container">
        <img src="../../../../assets/img/logo.png" alt="Logo Image " />
      </div>
    </div>
    <!-- End  of the logo img and name container -->
    <!-- Start of the mid container here  -->
    <div class="header-mid-container">
      <!-- single mid item  -->
      <div class="single-mid-item">
        <fa-icon [icon]="faUser" class="mid-icon"></fa-icon>
        <h3>Employee</h3>
      </div>
      <!-- end  single mid item  -->
      <!-- single mid item  -->
      <div class="single-mid-item">
        <fa-icon [icon]="faMessage" class="mid-icon"></fa-icon>
        <h3>ShiftPlanning</h3>
      </div>
      <!-- end  single mid item  -->
      <!-- single mid item  -->
      <div class="single-mid-item">
        <fa-icon [icon]="faBagShopping" class="mid-icon"></fa-icon>
        <h3>Leave</h3>
      </div>
      <!-- end  single mid item  -->
      <!-- single mid item  -->
      <div class="single-mid-item">
        <fa-icon [icon]="faClock" class="mid-icon"></fa-icon>
        <h3>Time Clock</h3>
      </div>
      <!-- end  single mid item  -->
      <!-- single mid item  -->
      <div class="single-mid-item">
        <fa-icon [icon]="faPager" class="mid-icon"></fa-icon>
        <h3>Report</h3>
      </div>
      <!-- end  single mid item  -->
      <!-- single mid item  -->
      <div class="single-mid-item">
        <fa-icon [icon]="faGripHorizontal" class="mid-icon"></fa-icon>
        <h3>Menu</h3>
      </div>
      <!-- end  single mid item  -->
    </div>
    <!-- End  of the mid container here  -->

    <!-- Start of the top header icon container  -->
    <div class="top-header-icons-container">
      <!-- Start of the single icon  -->
      <div class="top-header-icon">
        <a href="">
          <fa-icon [icon]="faDiscourse" class="raw-icon-top-header"> </fa-icon>
        </a>
      </div>
      <!-- End of the single icon  -->

      <!-- Start of the single icon  -->
      <div class="top-header-icon">
        <a href="">
          <fa-icon [icon]="faGear" class="raw-icon-top-header"> </fa-icon>
        </a>
      </div>
      <!-- End of the single icon  -->
      <!-- Start of the single icon  -->
      <div class="top-header-icon">
        <a href="">en</a>
      </div>
      <!-- End of the single icon  -->
      <!-- Start of the single icon  -->
      <div class="top-header-icon">
        <a href="">
          <a href="">
            <img src="../../../../assets/img/login.png" alt=" Login img" />
          </a>
        </a>
      </div>
      <fa-icon [icon]="faAngleDown" class="login-icon"></fa-icon>
      <!-- End of the single icon  -->
    </div>
    <!-- End of the top header icon container  -->
  </div>
</section>
