<!-- Md. Abdullah ajad
Md. taraj Ali
Md. Ashik Uddin Mondol
John Smith
Sahabul Alam
 -->

<div class="employees-container">
  <div class="employees-title">
    <h3>
      <fa-icon [icon]="faCircleUser" class="circleUser"></fa-icon>
      Employees
    </h3>
    <fa-icon [icon]="faAngleDown" class="employe-icon"> </fa-icon>
  </div>
  <form class="employe-form-container">
    <div>
      <input type="radio" name="employees" value="Md. Abdullah ajad" />
      <label for="html">Md. Abdullah ajad</label>
    </div>
    <div>
      <input type="radio" name="employees" value="Md. taraj Ali" />
      <label for="css">Md. taraj Ali</label><br />
    </div>
    <div>
      <input type="radio" name="employees" value="Md. Ashik Uddin Mondol" />
      <label for="javascript">Md. Ashik Uddin Mondol</label><br />
    </div>
    <div>
      <input type="radio" name="employees" value="John Smith" />
      <label for="javascript">John Smith</label><br />
    </div>
    <div>
      <input type="radio" name="employees" value="Sahabul Alam" />
      <label for="javascript">Sahabul Alam</label><br />
    </div>
  </form>
</div>
