.skills-container {
  padding: 1.5rem 0rem;
}
.skills-container hr {
  background-color: rgba(128, 128, 128, 0.3);
  margin-bottom: 1rem;
}
.skills-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}
.skills-icon {
  color: #1abc9c;
}
