<nav class="navbar-container">
  <div class="nav-wrapper">
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/dashbord.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Dashboard</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items nav-shift-item">
      <img
        src="../../../../assets/img/nav-icons/ShiftPlanning.png"
        alt=""
        class=""
      />
      <h3>ShiftPlanning</h3>
      <!-- <img
        src="../../../../assets/img/arrow-down.png"
        alt=""
        class="nav-arrow-down"
      /> -->
      <span class="shift-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items third-item">
      <img
        src="../../../../assets/img/nav-icons/clock.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Time Clock</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/avialable.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Availability</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/leave.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Leave</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/tarning.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Training</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/staf.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Staff</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/payroll.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Payroll</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/report.png"
        alt=""
        class="nav-item-img"
      />
      <h3>Reports</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
    <!-- single nav item  -->
    <div class="nav-items">
      <img
        src="../../../../assets/img/nav-icons/more.png"
        alt=""
        class="nav-item-img"
      />
      <h3>More</h3>
      <span class="nav-arrow"> &#x25BC; </span>
    </div>
    <!-- End of single nav item  -->
  </div>
</nav>
