.navbar-container {
  background-color: #1abc9c;
  /* padding: 0 3.5rem 0 5rem; */
}
.nav-wrapper {
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
}
.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.2s;
  padding: 1rem 1rem;
  margin-left: 0.5rem;
}
.nav-items:hover {
  background-color: rgb(194, 235, 209);
  /* color: #1abc9c; */
}
.nav-items:hover h3 {
  color: #1abc9c;
}
.nav-item-img {
  display: block;
  margin-bottom: 0.4rem;
  color: white;
  width: 40px;
  height: 40px;
}
.nav-arrow-down {
  width: 10px;
  height: 10px;
  margin-top: 5px;
  /* display: none; */
  transition: all ease 0.2s;
  visibility: hidden;
}
.nav-items:hover .nav-arrow-down {
  /* display: block; */
  visibility: visible;
}
h3 {
  font-size: 0.8rem;
  color: white;
  /* letter-spacing: 1px; */
}
.nav-shift-item {
  background-color: rgb(194, 235, 209);
}
.nav-shift-item .nav-arrow-down {
  visibility: visible;
}
.nav-shift-item h3 {
  color: #1abc9c;
}
