.navbar-container {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(129, 211, 187); */
  background-color: #1abc9c;
  /* padding: 0 3.5rem; */
  /* margin-left: 2rem; */
  /* padding-left: 6rem; */
  padding: 0 3.5rem 0 5rem;
}
.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.5s;
  padding: 1rem 1rem;
}
.nav-items:hover {
  background-color: rgb(242, 253, 246);
}
.nav-item-img {
  display: block;
  margin-bottom: 0.4rem;
  color: white;
}
h3 {
  font-size: 0.6rem;
}
