/* You can add global styles to this file, and also import other style files */

/* ************************
color selectors
1. primary color : rgb(129, 211, 187), #1abc9c
2. hover color : rgb(242, 253, 246)
**************************/

/* Reset the webpages  */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  /* background-color: white; */
  background-color: rgba(220, 220, 220, 0.3);
  color: rgb(20, 19, 19);
}

.loading-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
}
.loading-container h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  color: maroon;
}
/* ************ Start global styles ******************* */
.section-center {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  /* display: inline-block; */
}
ul {
  list-style-type: none;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ************ End global styles ******************* */
